.bsmd .btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.bsmd .btn-default:hover, .bsmd .btn-default:focus, .bsmd .btn-default:active, .bsmd .btn-default.active, .bsmd .open .dropdown-toggle.btn-default {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}